RUNPOD_API_KEY=

# OVH Public Cloud credentials
# Pobierz z: https://www.ovh.com/manager/ -> Public Cloud -> Users & Roles -> OpenStack RC file
OVH_TENANT_ID=
OVH_USERNAME=
OVH_PASSWORD=

# GitHub
GITHUB_TOKEN=